<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Workspace/Workspace/appiumdemo/src/main/java/com/frutacloud/sca/production/production.java">
        <classes>
            <class name="com.frutacloud.sca.production.production">
                <methods>
                    <include name="production"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>